<template name="SearchTool">
    <div class="search-tool">
        <button class="btn search-tool-btn">{{_ "SEARCHTOOL.TOOL"}}</button>
        <ul class="search-tool-info">
            <li>About 60 results</li>
            <li>0.02 secs</li>
        </ul>
        <ul class="search-tool-search">
            {{#each type in searchTypes}}
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>{{type}}</span> <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            {{#each searchOptions type}}
                                {{> SearchToolOption type=type label=label value=value}}
                            {{/each}}
                        </ul>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="SearchToolOption">
    <li class="dropdown-item"><a href="#">{{label}}</a></li>
</template>