<template name="Discovers">
    <section id="page-fields">
        <button class="btn {{#if isCasesField}}btn-text-dark{{else}}btn-text{{/if}}" id="discover-cases-btn">{{_ "DISCOVERS.CASES"}}</button>
        <button class="btn {{#if isLawyersField}}btn-text-dark{{else}}btn-text{{/if}}" id="discover-lawyers-btn">{{_ "DISCOVERS.LAWYERS"}}</button>
        <button class="btn {{#if isArticlesField}}btn-text-dark{{else}}btn-text{{/if}}" id="discover-articles-btn">{{_ "DISCOVERS.ARTICLES"}}</button>
        <form class="search-form">
            <input type="text" name="text" id="search-input" placeholder="Search...">
        </form>
    </section>
    {{> SearchTool}}
    {{> FloatSection}}
    <section class="cases">
        {{#if $.Session.get 'isLoading'}}
            {{> Loading2}}
        {{else}}
            {{#if isCasesField}}
                {{#each discovers}}
                    {{> CasesItem}}
                {{else}}
                    <h3>{{_ "DISCOVERS.NOCASES"}}</h3>
                {{/each}}
            {{else if isLawyersField}}
                {{#each discovers}}
                    {{> LawyersItem}}
                {{else}}
                    <h3>{{_ "DISCOVERS.NOLAWYERS"}}</h3>
                {{/each}}
            {{else}}
                <h3>{{_ "COMINGSOON"}}</h3>
            {{/if}}
            {{> Pagination page=page numPages=numPages}}
        {{/if}}
    </section>
</template>