<template name="Cases">
    {{> FloatSection}}
    <section class="cases">
        {{#if $.Session.get 'isLoading'}}
            {{> Loading2}}
        {{else}}
            {{#each cases}}
                {{> CasesItem}}
            {{else}}
                <h3>{{_ "CASES.NOCASES"}}</h3>
            {{/each}}
        {{/if}}
    </section>
</template>

<template name="CasesItem">
    <article class="case">
        <section class="attribute-tags">{{{ tagsHtml(_id) }}}</section>
        <section class="publish-type-labels">
            <span class="label court {{#if isComplete}}toggle-state{{/if}}">
                <span class="organization court">
                    {{_ "CASESITEM.LAW"}}
                    <span class="triangle-top-right"></span>
                </span>
                {{#if isComplete}}
                    {{_ "CASESITEM.COMPLETE"}}
                {{else}}
                    {{_ "CASESITEM.INCOMPLETE"}}
                {{/if}}
            </span>
        </section>
        <h3><a href="/cases/{{_id}}">{{ title }}</a></h3>
        <div class="attached-infos">
            <span class="info">{{location.state}}</span>
            <span class="info"><a target="_blank" href="https://www.tippecanoe.in.gov">Tippecanoe County</a></span>
            <span class="info">{{ createdAtString }}</span>
        </div>
        <p>{{{ content }}} ...</p>
        {{#with createdBy_info}}
            <p><i class="fa fa-user"></i> {{ username }}</p>
        {{else}}
            <p><i class="fa fa-user"></i> {{ findUsername(createdBy) }}</p>
        {{/with}}
    </article>
</template>