<template name="Cases">
    <section class="cases">
        <section class="helper">
            <button class="btn btn-primary" id="create-case"><i class="fa fa-plus"></i> {{_ "CASES.POSTNEW"}}</button>
        </section>
        {{#if Template.subscriptionsReady}}
            {{#each cases}}
                {{> CasesItem}}
            {{else}}
                <h3>{{_ "CASES.NOCASES"}}</h3>
            {{/each}}
        {{else}}
            <p>{{_ "LOADING"}}</p>
        {{/if}}
    </section>
</template>

<template name="CasesItem">
    <article class="case">
        <section class="attribute-tags">{{{ tagsHtml(_id) }}}</section>
        <section class="publish-type-labels">
            <span class="label court">
                <span class="organization court">
                    {{_ "CASESITEM.LAW"}}
                    <span class="triangle-top-right"></span>
                </span>
                {{#if isComplete}}{{_ "CASESITEM.COMPLETE"}}{{else}}{{_ "CASESITEM.UNCOMPLETE"}}{{/if}}
            </span>
        </section>
        <h3><a href="/cases/{{_id}}">{{ title }}</a></h3>
        <div class="attached-infos">
            <span class="info">{{location.state}}</span>
            <span class="info"><a href="https://www.tippecanoe.in.gov">Tippecanoe County</a></span>
            <span class="info">{{ createdAtString }}</span>
        </div>
        <p>{{ content }}</p>
        <p><i class="fa fa-user"></i> {{ findUsername(createdBy) }}</p>
    </article>
</template>