<template name="Case">
    {{> PageNav}}
    {{#if Template.subscriptionsReady}}
        <h1 class="page-title">{{case.title}}</h1>
        <article class="case">
            <h3>{{_ "CASE.DETAILS"}}</h3>
            <p>{{case.content}}</p>
            <p><i class="fa fa-user"></i> {{findUsername(case.createdBy)}}</p>
            <p>
                <i class="fa fa-users"></i> {{{lawyers}}}
            </p>
            <p id="case-info-btn">
                {{#if isOwner case}}
                    {{#if isPrivate case}}
                        <button class="btn btn-text" id="public-case">{{_ "CASE.SETPUB"}}</button>
                    {{else}}
                        <button class="btn btn-text" id="private-case">{{_ "CASE.SETPRI"}}</button>
                    {{/if}}
                    {{#if isComplete case}}
                        <button class="btn btn-deny" id="uncomplete-case">{{_ "CASE.SETUNCOMPLETE"}}</button>
                    {{else}}
                        <button class="btn btn-deny" id="complete-case">{{_ "CASE.SETCOMPLETE"}}</button>
                    {{/if}}
                {{/if}}
                {{#if isLawyer}}
                        {{#if hasGrab}}
                            <button class="btn btn-deny" id="drop-case">{{_ "CASE.DROPCASE"}}</button>
                        {{else}}
                            <button class="btn btn-primary" id="grab-case">{{_ "CASE.GRABCASE"}}</button>
                        {{/if}}
                {{/if}}
            </p>
        </article>
        {{#if contracts}}
            <article class="case">
                <h3>{{_ "CASE.CONTRACTS"}}</h3>
                <ul>
                    {{#each contracts}}
                        <li>
                            <span>{{getLawyerName(contractor)}}</span>
                            <a href="/contracts/{{_id}}">{{_ "CASE.CONTRACT_DETAILS"}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article>
        {{else}}
            <article class="case">
                <h3>{{_ "CASE.NOCONTRACT"}}</h3>
                <p>{{_ "CASE.NOCONTRACT_INFO"}}</p>
            </article>
        {{/if}}
    {{else}}
        <p>{{_ "LOADING"}}</p>
    {{/if}}
    <br>
    <section class="blog">
    {{#each blog in blogs}}
        {{#if isAuthor blog}}
            <section class="blog-right">
                <h3>Test Right</h3>
                <p>{{blog.content}}</p>
            </section>
        {{else}}
            <section class="blog-left">
                <h3>Test Left</h3>
                <p>{{blog.content}}</p>
            </section>
        {{/if}}
    {{/each}}
    </section>
    <br>
    {{> NewCaseBlog}}
</template>

<template name="NewCaseBlog">
    <section class="new-case-container">
        {{#autoForm collection="CasesBlogs" id="insertCaseBlogForm" type="method" meteormethod="cases.blogs.insert"}}
            <section>
                <h3>{{_ "CASE.BLOG_POST"}}</h3>
                {{> afQuickField name='caseId' value=caseId}}
                {{> afQuickField name='content' rows=3}}
                {{> afQuickField name='createdBy.authorId' value=userId}}
                {{#if isLawyer}}
                    {{> afQuickField name='createdBy.role' value='lawyer'}}
                {{else}}
                    {{> afQuickField name='createdBy.role' value='user'}}
                {{/if}}
            </section>
            <button type="submit" class="btn">{{_ "CASE.BLOG_SUBMIT"}}</button>
        {{/autoForm}}
    </section>
</template>