<template name="Lawyers">
    <section class="cases lawyers">
        {{#if Template.subscriptionsReady}}
            {{#each lawyers}}
                {{> LawyersItem}}
            {{else}}
                <h3>{{_ "LAWYERS.NOLAWYERS"}}</h3>
            {{/each}}
        {{else}}
            <p>{{_ "LOADING"}}</p>
        {{/if}}
    </section>
</template>

<template name="LawyersItem">
    <article class="case lawyer">
        <h3>{{name}}</h3>
        {{#each area in areas}}
            <p>{{area}}</p>
        {{/each}}
        <a href="/lawyers/{{_id}}">{{_ "VIEW_DETAILS"}}</a>
    </article>
</template>