<template name="Lawyers">
    <section class="lawyers">
        {{#if Template.subscriptionsReady}}
            {{#each lawyers}}
                {{> LawyersItem}}
            {{else}}
                <h3>{{_ "LAWYERS.NOLAWYERS"}}</h3>
            {{/each}}
        {{else}}
            <p>{{_ "LOADING"}}</p>
        {{/if}}
    </section>
</template>

<template name="LawyersItem">
    <article class="lawyer">
        <section class="attribute-tags">{{{ areasHtml(_id) }}}</section>
        <section class="publish-type-labels">
            <span class="label court">
                <span class="organization court">
                    {{_ "LAWYERSITEM.SUCCESSRATE"}}
                    <span class="triangle-top-right"></span>
                </span>
                {{ rate.success }}%
            </span>
            <span class="label procuratorate">
                <span class="organization procuratorate">
                    {{_ "LAWYERSITEM.EVALUATION"}}
                </span>
                {{ evaluation }}%
            </span>
        </section>
        <h3><a href="/lawyers/{{_id}}">{{name}}</a></h3>
        <p>{{_ "COMINGSOON"}}</p>
    </article>
</template>