<template name="Lawyers">
    <section class="lawyers">
        {{#if Template.subscriptionsReady}}
            {{#each lawyers}}
                {{> LawyersItem}}
            {{else}}
                <h3>{{_ "LAWYERS.NOLAWYERS"}}</h3>
            {{/each}}
        {{else}}
            <p>{{_ "LOADING"}}</p>
        {{/if}}
    </section>
</template>

<template name="LawyersItem">
    <article class="lawyer">
        <section class="attribute-tags">{{{ areasHtml(_id) }}}</section>
        <section class="publish-type-labels">
            <span class="label court">
                <span class="organization court">
                    {{_ "LAWYERSITEM.LICENSED_YEARS"}}
                    <span class="triangle-top-right"></span>
                </span>
                {{ licensedYears(licensed_since) }}
            </span>
            <span class="label procuratorate">
                <span class="organization procuratorate">
                    {{_ "LAWYERSITEM.EVALUATION"}}
                </span>
                {{#if avvo_rating}}{{ avvo_rating }}{{else}}0{{/if}}/10
            </span>
        </section>
        <h3><a href="/lawyers/{{id}}">{{ firstname }} {{ lastname }}</a></h3>
        <p>{{{ bio }}}</p>
    </article>
</template>