<template name="SideBar">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/profile"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="/cases"><i class="fa fa-list"></i> Cases</a>
            </li>
            <li>
                <a href="/lawyers"><i class="fa fa-legal"></i> Lawyers</a>
            </li>
            <li>
                <a href="/contracts"><i class="fa fa-pencil-square-o"></i> Contracts</a>
            </li>
            <li>
                <a href="/cases/create"><i class="fa fa-plus"></i> Post A Case</a>
            </li>
        </ul>
    </nav>
</template>