<template name="SideBar">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/profile"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="/discover"><i class="fa fa-safari"></i> Discover</a>
            </li>
            <li>
                <a href="/cases"><i class="fa fa-list"></i> Cases</a>
            </li>
            <li>
                <a href="/tools"><i class="fa fa-cog"></i> Tools</a>
            </li>
        </ul>
    </nav>
</template>