<template name="MainLayout">
    {{> notifications}}
    <header>
        <h1><a href="/">{{_ "COMPANY.NAME"}}</a></h1>
        {{> loginButtons }}
        {{> i18n_custom_dropdown}}
    </header>
    {{> SideBar}}
    <main class="main-layout">
        {{#if hasNewVersion}}
            <section class="notification">
                <h4 class="notification-title">{{_ "NEWVERSION.NOTI"}}</h4>
            </section>
        {{/if}}
        {{> Template.dynamic template=main }}
    </main>
</template>