<template name="Profile">
    <section id="page-fields">
        <button class="btn {{#if isUserProfile}}btn-text-dark{{else}}btn-text{{/if}}" id="profile-user-btn">{{_ "PROFILE.USER"}}</button>
        {{#if isLawyer}}
            <button class="btn {{#if isLawyerProfile}}btn-text-dark{{else}}btn-text{{/if}}" id="profile-lawyer-btn">{{_ "PROFILE.LAWYER"}}</button>
        {{/if}}
    </section>
    {{#if isUserProfile}}
        {{#if currentUser}}
            <section class="profile-user-container">
                <img align="right" class="profile-user-avatar fileBrowse" src="{{getAvatar currentUser}}" />
                {{#autoForm id="updateUserProfile" collection="Meteor.users" doc=currentUser type="update"}}
                    <section>
                        <h3>{{_ "PROFILE.USER"}}</h3>
                        {{> afQuickField name='username'}}
                        {{> afQuickField name='profile'}}
                        {{> afQuickField name='emails'}}
                    </section>
                    <button type="submit" class="btn">{{_ "PROFILE.UPDATE"}}</button>
                {{/autoForm}}
            </section>
        {{else}}
            {{> Loading1}}
        {{/if}}
    {{else if isLawyerProfile}}
        <section class="profile-user-container">
            <img align="right" class="profile-user-avatar" src="{{getAvatar currentUser}}" />
            {{#autoForm id="updateLawyerProfile" collection="Collections.Lawyers" doc=lawyerProfile type="method-update" meteormethod="lawyers.update"}}
                <section>
                    <h3>{{_ "PROFILE.LAWYER"}}</h3>
                    {{> afQuickField name='name'}}
                    {{> afQuickField name='birthday'}}
                    {{> afQuickField name='gender'}}
                    {{> afQuickField name='areas'}}
                    {{> afQuickField name='location'}}
                </section>
                <button type="submit" class="btn">{{_ "PROFILE.UPDATE"}}</button>
            {{/autoForm}}
        </section>
    {{else}}
        <h3>{{_ "COMINGSOON"}}</h3>
    {{/if}}
</template>